.nav{
    background-color: rgb(35, 25, 44);
    text-align: center;
    padding: 20px 0;
}

.nav >a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 8px;
    font-size: 1.5em;
}

.nav >a:hover {
    color: rgb(202, 171, 171)
}